{% extends "home.html" %}
{% block content %}


<fieldset>

<legend>Query</legend>

<table class="query">



<tr>
 	<h1>Título</h1>
 	<th>Market:</th>
    <th>Standard:</th>
    <th>Requirement:</th>
    <th>otro:</th>
    <th>otro2:</th>
    <th>Otros3:</th>
</tr>

<tr>
    <!--doble bucle para que no aparezcan las comillas
        en el html. La lista devuelve tuplas dentro de tuplas,
        con el formato [(("dato1,),),(("dato2",),),...-->
	{% for i in boxMsg %}
    {% for x in i %}
	<td>{{""}}<br><br></td>
	<td>{{x[0]}}<br><br></td>
 
</tr>
 {% endfor %}
 {% endfor %}
 </fieldset>

{% endblock %}